/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Habitat Update
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	font-family: 'Open Sans', sans-serif;#
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}


/* Navigation */
#slideNav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    z-index: 11;
}
#slideNav ul {
    list-style: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
#slideNav li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(50,50,50,0.70);
    margin-bottom: 0px;
}
.no-rgba  #slideNav li {background-color: #ffffff}
#slideNav a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
}
#slideNav a.disabled {
    cursor: default;
}

.slideNavPrev{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.slideNavNext {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}


.btn-default {
    color: #333;
    background-color: #F9BF00;
    border: 0px;
    border-bottom: 3px solid #CE9800;
}

main {
	overflow-x: hidden;
}

h3 {
    font-size: 30px;

}

.video_container {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
}

video#bgvid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.big-picture-copy {
    background-color: rgba(50,50,50,0.70);
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    width:100%;
    margin-bottom:20px;
}

.big-picture-copy h3 {
    margin:0px;
}

.show-more {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.show-more a:hover {
    color: rgba(255, 255, 255, 1);
}

.vid {
    margin:30px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}

.thumbs {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    margin:20px auto;
    max-width: 60% !important;
}

.log {
    width:30px;
    height:30px;
}

/* Slide 1 */
#slide-1 .bcg { background: transparent; }

#slide-1 #landing-content {
    position: relative;
    z-index: 1;
    width: 100%;
}

.landing-content-img {
    margin-bottom:20px;
    width:100%;
}

#landing-console-open img {
    margin-bottom:0px;
}

#landing-console {
    display:none;
}


#slide-1 p {
    color: rgba(255, 255, 255, 0.7);
}

#slide-1 .big-picture-copy {
    width:100%;
} 


/* Slide 2 */
#slide-2 .bcg {
    background: #D3E1FF;
    background-image:url('../img/concept_surface_1.jpg');
    background-size: cover;
    text-align: center;
}

#slide-2 h3 {
    margin-bottom:30px;
}

#slide-2 p {
    color: rgba(255, 255, 255, 0.7);
}


.pda {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    
}

.sea-surface {
    display:none;
}

/* Slide 3 */
#slide-3 .bcg {
    background: #e7ffff;
    background-image:url('../img/subnautica_seamoth_1.jpg');
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-3 h3 {
    margin-bottom:20px;
}

#slide-3 p {
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

#slide-3 .dialog {
    position: absolute;
    left: 30px;
    top: 82px;    
}

#base-diagram {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top:20px;
}


#base-arrows {
    display:none;
}


.base-diagram-copy h4 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

#slide-3-log {
    position: relative;
    z-index: 1000;
}

/* Slide 4 */

#slide-4 .bcg { 
    background: #e7ffff;
    background-image:url('../img/sea_background_3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

#slide-4 .dialog {
    position: absolute;
    right: 30px;
    top: 82px;    
}

#slide-4 .log {
    position: absolute;
    top: 12%;
    left: 5%;
}

#slide-4 p {
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

.seamoth-img {
    max-width: 100%;
    margin: auto;
}



/* Slide 5 */
#slide-5 .bcg {
    background: #e7ffff;
    background-image:url('../img/sea_background_3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-5 h2 {
    color:#ddd;
}

#slide-5 p {
    color:#ddd !important;
}

#room-diagram {
    position: relative;
    display: block;
    width: 100%;
    margin-top:20px;
}

#room-arrows {
    display:none;
}

#room-door {
    display:none;
}



/* Slide 6 */

#slide-6 .bcg {
    background: #e7ffff;
    background-image:url('../img/sea_background_4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


#slide-6 h3 { 
    margin-top: 50px;
    margin-bottom: 10px; 
}

#slide-6 p {
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

#slide-6 ul {
    list-style-position: inside;
    margin: auto;
    margin-bottom:10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
 }

/* Slide 7 */
#slide-7 { position: relative; }
#slide-7 .bcg {
    background: #e7ffff;
    background-image:url('../img/subnautica_upgrade_1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-7 p {
    width: auto;
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

#slide-7 .dialog {
    display:none; 
}

/* Slide 8 */

#slide-8 .bcg {
    background: #e7ffff;
    background-image:url('../img/sea_background_4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-8 h3 { margin-bottom: 10px; }

#slide-8 p {
    width: auto;
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

/* Slide 9 */

#slide-9 .bcg {background-image:url('../img/concept_grassy_1.jpg')}

#slide-9 .big-picture-copy {  
    margin:auto;; 
    width: 600px;
}

#slide-9 h3 { margin-bottom: 10px; }

#slide-9 p {
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

/* Slide 10 */

#slide-10 .bcg { background-image:url('../img/subnautica_mountain_1.jpg'); }

#slide-10 .big-picture-copy {  
    margin:auto;
    margin-top: 100px; 
    width: 600px;
}
#slide-10 .big-picture-copy h4 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

#slide-10 p {
    width: auto;
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

#slide-10 .hsContent {
    padding:0;
}

.img-col-3 {
    display:inline-table;
    height:100%;
    width:33.333%;
    background-size: cover;
    background-position: center;
    text-align:center;
    float:left;
}

/* Slide 11 */

#slide-11 .bcg {background-image:url('../img/sea_background_2.jpg')}

#slide-11 .big-picture-copy {  
    margin:auto;; 
    width: 600px;
}

#slide-11 h3 { margin-bottom: 10px; }

#slide-11 p {
    margin-bottom:10px;
    color: rgba(255, 255, 255, 0.7);
}

/* Slide 12 */

#slide-12 .bcg {
    background: #000;
    background-image:url('../img/subnautica_emperor_1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

#slide-12 h2 {
    color:#fff;
}

#slide-12 p {
    margin-bottom:30px;
    width: auto !important;
    max-width: 600px;
    color: rgba(255, 255, 255, 0.7);
}

#slide-12 .dialog {
    position: absolute;
    bottom: 68px;
    right: 30px;    
    word-wrap:break-word;
}

#slide-12 .dialog p {
    margin:auto;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;

}

@media (max-width: @iphone-screen) {
    .bcg {

        background-attachment: scroll;
    }
}


.bcg-width {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		color: #252525;
	}
	.hsContent a {
		color: #93E1FD;
		text-decoration: none;
	}
    .hsContent a:hover {
        color: #fff;
    }
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}

    .big-picture-copy p { 
        color: #ddd; 
    }

    .img-grid {
        position: absolute;
        width:20%;
    }
    .img-grid h3 {
        color:#484848;
        margin-top: 2px;
        margin-bottom: 5px;
    }

    .img-grid p {
        color:#484848;
        width:auto;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .mail-list-form {
        width:80%;
        margin: 0 auto;
    }


    .footer {
        display: none;
    }

    /* MODAL BOXES */

    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width:80%;
        height:80%;
        position: relative;
        margin:20% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 5px;
        background-color: rgba(50,50,50,0.80);
    }

    .modalDialog p {
        width:auto;
    }

     .modalDialog img {
        max-width: 90%;
        border: 1px solid #000;
        margin-top:20px;
        margin-bottom: 20px;
    }

    .dialogDialog { 
        font-family: 'Source Code Pro', monospace;
        text-align: left;
    }

    .dialogDialog .scrollme {
        height:100%;
         overflow-y:scroll;
    }

    .dialogDialog p {
        margin-top:10px;
        margin-bottom:10px;
        color:#fff;
    }

    .close-modal {
        background: rgba(100,100,100,0.90);
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
    }

    .close-modal:hover { background: #00d9ff; }


.console {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    text-align: left;
    overflow-y:auto;
}

.console p {
    width:auto;
    margin-bottom: 10px;
}

.dialog {
    max-height: 350px;
    width: 300px;
}


@media (max-width: 768px) { 
    .dialog {
       display: none;
    }

}

.no-mobile { display:none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
